<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

   <!-- axios -->
   <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  
  </head>
</head>
<body>
  <form action="/upload" method="post">
    <input type="text" name="ID" id="ID">
    <br>
    <input type="text" name="pw" id="pw">
    <br>
    <input type="text" name="name" id="name">
    <br>
    <input type="text" name="age" id="age">
    <br>
    <input type="file" name="userfile">
    <br>
    </form>
</body>
</html>