body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#game-container {
    text-align: center;
}

#number-display {
    font-size: 24px;
    margin-bottom: 20px;
}

#user-input {
    margin-bottom: 20px;
}

#feedback {
    font-weight: bold;
}
