<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>404 Error</h1>
    <p>해당 URL 은 접근 불가</p>
    <a href="/">홈</a>
</body>
</html>