<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
</head>

<body>
    <h1>로그인</h1>

    <!-- 로그인 버튼 클릭하면 성공시 profile.ejs에서 특정 유저 정보를 보여줘야 하기 때문에 userid정보를 value에 저장해서 넘겨줌 -->

    <!-- 로그인 성공시, 프로필페이지로 이동할 폼 -->
    <form name="form_info" action="/user/profile" method="POST">
        <!-- type을 히든으로 만들어서 안보임 -->
        <input type="hidden" name="userid">
    </form>



    <!-- 로그인 폼 -->
    <form name="form_login">
        <label for="userid">ID</label>
        <input type="text" name="userid" id="userid" required><br>

        <label for="password">password</label>
        <input type="password" name="pw" id="password" required><br>
        <button type="button" onclick="login()">Login</button>
    </form>
    <a href="/user/signup">Register</a>

    <script>
        async function login() {
            const form_login = document.forms['form_login']

            if(!form_login.checkValidity()){
                form_login.reportValidity()
                return
            }

            try{
                let res = await axios({
                    method: 'POST',
                    url: '/user/signin',
                    data: {
                        userid: form_login.userid.value,
                        pw: form_login.pw.value
                    }
                })
                console.log(res.data)
            } catch (err){
                console.log(err)
            }
        }
    </script>
</body>

</html>